.container
  .wrapper
    %h1 直近のステータス反映は終了しています。
    = link_to 'マイページへ戻る', mypage_index_path
    %br/
    = link_to '登録済みのデータが反映されない方はこちらをクリックし再試行してください', calculate_statuses_path(@status), method: :patch