.container
  .wrapper
    .single-contents
      .single-contents__main
        .single-contents__main__box
          %p.completed-message プロフィールの登録が完了しました。
          %p.completed-message さっそく今日のデータを登録しましょう！
          = link_to '記録機能を利用する', new_record_path, class: "single-contents__main__box--button"
          %br/
          %br/
          = link_to '設定を変更する', profile_mypage_index_path, class: "single-contents__main__box--button"
          %br/
          %br/
