-# .sheet-comment
-#             %h3.sheet-comment__text

-# %th.cumulative-sheet__head__row--right .



-# = render 'shared/hidden'
  
-# .container
-#   .wrapper
-#     .mypage-contents
-#       .mypage-contents__head
-#         %h2.mypage-contents__head__text マイページ
      
-#       .mypage-contents__main.clearfix
-#         .mypage-contents__main__left
-#           .mypage-left
-#             .mypage-left__content.clearfix
-#               .mypage-left__content__chart
-#                 .cumulative-chart
-#                   %canvas#cumulative-radar.cumulative-chart__rader{style: 'height:100%; width: 100%;'}
-#               .mypage-left__content__sheet
-#                 %table.cumulative-sheet
-#                   %thead.cumulative-sheet__head
-#                     %tr.cumulative-sheet__head__row
-#                       %th.cumulative-sheet__head__row--left{colspan: "2"} 累計実績
-#                   %tbody.cumulative-sheet__body
-#                     %tr.cumulative-sheet__body__row
-#                       %td.cumulative-sheet__body__row--left 合計Pt.
-#                       %td.cumulative-sheet__body__row--right=Status.total_point(@status)
-#                 %table.cumulative-sheet
-#                   %thead.cumulative-sheet__head
-#                     %tr.cumulative-sheet__head__row
-#                       %th.cumulative-sheet__head__row--left{colspan: "2"} 累計実績 ( 科目別 ) 
-#                   %tbody.cumulative-sheet__body
-#                     %tr.cumulative-sheet__body__row
-#                       %td.cumulative-sheet__body__row--left 睡眠
-#                       %td.cumulative-sheet__body__row--right=@status.sleep
-#                     %tr.cumulative-sheet__body__row
-#                       %td.cumulative-sheet__body__row--left 自主学習
-#                       %td.cumulative-sheet__body__row--right=@status.study
-#                     %tr.cumulative-sheet__body__row
-#                       %td.cumulative-sheet__body__row--left 運動
-#                       %td.cumulative-sheet__body__row--right=@status.exercise
-#                     %tr.cumulative-sheet__body__row
-#                       %td.cumulative-sheet__body__row--left 食習慣
-#                       %td.cumulative-sheet__body__row--right=@status.diet
-#                     %tr.cumulative-sheet__body__row
-#                       %td.cumulative-sheet__body__row--left 嗜好品
-#                       %td.cumulative-sheet__body__row--right=@status.habit
-#                     %tr.cumulative-sheet__body__row
-#                       %td.cumulative-sheet__body__row--left 目標達成
-#                       %td.cumulative-sheet__body__row--right=@status.aim

-#             .mypage-interface
-#               %ul.mypage-interface__box
-#                 %li.mypage-interface__box__content.emphasized-interface-crimson 総合
-#                 %li.mypage-interface__box__content 睡眠
-#                 %li.mypage-interface__box__content 学習
-#                 %li.mypage-interface__box__content 運動
-#                 %li.mypage-interface__box__content 食事
-#                 %li.mypage-interface__box__content 嗜好
-#                 %li.mypage-interface__box__content 目標
-#                 %li.mypage-interface__box__content.emphasized-interface-blue
-#                   =link_to 'データ更新', statuses_path, class: 'recalculate'
          

-#         .mypage-contents__main__right
-#           = render 'shared/right_bar'

-# .cumulative-sheet{
-#   width: 90%;
-#   margin: 2.5% 5%;
-#   border: $default-border;
-#   border-collapse: collapse;
-#   &__head{
-#     background-color: #333;
-#     color: whitesmoke;
-#     &__row{
-#       &--left{
-#         width: 50%;
-#         text-align: center;
-#         padding: 5px;
-#       }
-#       &--right{
-#         display: none;
-#         width: 50%;
-#         text-align: center;
-#         padding: 5px;
-#       }
-#     }
-#   }
-#   &__body{
-#     &__row{
-#       &--left{
-#         width: 50%;
-#         text-align: center;
-#         padding: 5px;
-#         border: $default-border;
-#       }
-#       &--right{
-#         width: 50%;
-#         text-align: center;
-#         padding: 5px;
-#         border: $default-border;
-#       }
-#     }
-#   }
-# }

-# .mypage-profile__sheet
-#         %table.cumulative-sheet
-#           %thead.cumulative-sheet__head
-#             %tr.cumulative-sheet__head__row
-#               %th.cumulative-sheet__head__row--content{colspan: "2"} 利用状況
-#               -# %th.cumulative-sheet__head__row--right .
-#           %tbody.cumulative-sheet__body
-#             %tr.cumulative-sheet__body__row
-#               %td.cumulative-sheet__body__row--content.half-row 合計日数
-#               %td.cumulative-sheet__body__row--content.half-row=@status.login
-#             %tr.cumulative-sheet__body__row
-#               %td.cumulative-sheet__body__row--content.half-row 継続日数
-#               %td.cumulative-sheet__body__row--content.half-row (準備中)
-#             %tr.cumulative-sheet__body__row
-#               %td.cumulative-sheet__body__row--content.half-row 利用開始日
-#               %td.cumulative-sheet__body__row--content.half-row=@status.user.created_at.strftime("%Y/%m/%d")

-# .mypage-interface{
-#   width: 100%;
-#   margin-top: 30px;
-#   box-shadow: $default-shadow;
-#   &__box{
-#     padding: 10px;
-#     width: 100%;
-#     display: flex;
-#     flex-wrap: wrap;
-#     border-collapse: collapse;
-#     &__content{
-#       height: 45px;
-#       width: 25%;
-#       line-height: 45px;
-#       text-align: center;
-#       font-size: 16px;
-#       color: whitesmoke;
-#       background-color: #333;
-#       border: 1px solid whitesmoke;
-#       cursor: pointer;
-#     }
-#     &__content:hover{
-#       background-color: whitesmoke;
-#       color: steelblue;
-#     }
-#   }
-# }

-# = form_for @user, url: user_create_signup_index_path, method: :post do |f|
-#   = render partial: "error_messages", locals: { model: @user }

-#   .field
-#     = f.label :nickname
-#     %br/
-#     = f.text_field :nickname, autofucus: true, autocomplete: 'nickname'
    
-#   .field
-#     = f.label :gender
-#     %br/
-#     = f.select :gender, User.genders_i18n.invert, autofucus: true

-#   .field
-#     = f.label :birthday
-#     %br/
-#     != sprintf(f.date_select(:birthday, prefix: "birthday", prompt:"--", start_year: Time.now.year, end_year: 1900, use_month_numbers: true, date_separator:"%s"),"年","月") + "日"
-#     -# with_css_classes:'birthday-select',

-#   .field
-#     = f.label :profile
-#     %br/
-#     = f.text_area :profile, autofucus: true

-#   .actions
-#     = f.submit "登録"