.container
  .wrapper
    .single-contents
      .single-contents__head
        %h1.single-contents__head__text データ登録
      .single-contents__main
        .single-contents__main__box
          = link_to '本日の登録を開始する', new_record_path, class: "single-contents__main__box--button"