.container
  .wrapper
    .single-contents
      .single-contents__main
        .single-contents__main__box
          %h1.completed-message 本日の登録は終了しています。
          = link_to 'マイページへ戻る', mypage_index_path, class: "single-contents__main__box--button"
          %br/
          = link_to '登録済みのデータが反映されない方はこちらをクリックしてください', redirecting_records_path, class: "completed-message"
