@import 'config';


// ***** mypageTOP ***** //

.mypage-contents{
  padding: 10px;
  &__head{
    width: 280px;
    padding: 5px 0;
    margin: 0 auto;
    box-shadow: $default-shadow;
    background-color: #333;
    &__text{
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: whitesmoke;
    }
  }
  &__main{
    margin-top: 20px;
    min-height: 550px;
    &__left{
      width: 67%;
      float: left;
      padding: 10px;
    }
    &__right{
      width: 33%;
      float: right;
      padding: 10px 10px 10px 20px;
    }
  }
}

.mypage-left{
  min-height: 500px;
  &__content{
    box-shadow: $default-shadow;
    background-color: whitesmoke;
    padding: 20px;
    &--left{
      float: left;
      width: 50%;
      height: 300px;
    }
    &--right{
      float: right;
      width: 50%;
      border-left: $default-border;
      padding: 5px;
      height: 300px;
    }
  }
}

.mypage-interface{
  padding: 5px;
  &__box{
    text-align: center;
    padding-bottom: 20px;
    &__recalc{
      color: whitesmoke;
      background-color: steelblue;
      padding: 15px 30px;
    }
  }
}

.mypage-calendar{
  border-top: $default-border;
  padding: 10px 5px;
}

.emphasized-interface-crimson{
  background-color: $ruby-crimson;
  border: 1px solid #333;
  border-radius: 4px;
}

.emphasized-interface-blue{
  background-color: steelblue;
  border: 1px solid #333;
  border-radius: 4px;
}

.recalculate{
  width: 100%;
  height: 100%;
  display: inline-block;
  color: whitesmoke;
}

.mypage-sheet{
  padding-top: 30px;
  &__box{
    padding: 5px;
    box-shadow: $default-shadow;
  }
}

.cumulative-sheet{
  width: 100%;
  border: $default-border;
  border-collapse: collapse;
  &__head{
    background-color: #333;
    color: whitesmoke;
    &__row{
      &--content{
        width: 25%;
        text-align: center;
        padding: 5px;
        border: 1px solid whitesmoke;
      }
    }
  }
  &__body{
    &__row{
      &--content{
        width: 25%;
        text-align: center;
        padding: 5px;
        border: $default-border;
        font-weight: bold;
      }
    }
  }
}

.point-unit{
  font-weight: normal;
  padding-left: 5px;
  font-size: 12px;
}

.mypage-right{
  min-height: 500px;
  &__content{
    box-shadow: $default-shadow;
    background-color: whitesmoke;
    padding: 5px;
  }
}

.mypage-profile{
  padding: 20px 0;
  &__icon{
    height: 180px;
    width: 180px;
    margin: 0 auto;
    background-color: silver;
    border: 1px solid steelblue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__name{
    padding: 10px 0;
    border-top: $default-border;
    border-bottom: $default-border;
    &__text{
      text-align: center;
    }
  }
  &__profile{
    padding: 10px;
    font-size: 14px;
    border-bottom: $default-border;
    &__head{
      font-weight: bold;
    }
    &__text{
      padding: 5px;
      min-height: 100px;
    }
  }
  &__level{
    padding: 10px 0;
    border-bottom: $default-border;
    font-size: 14px;
    &__text{
      text-align: center;
    }
  }
  &__gender{
    padding: 10px;
    border-bottom: $default-border;
    text-align: center;
    &__text{
      font-size: 14px;
      padding: 5px;
    }
  }
  &__sheet{
    padding: 10px 0;
    border-bottom: $default-border;
  }
}

.half-row{
  width: 50%;
}

.no-image{
  color: whitesmoke;
  margin: 0 auto;
  font-size: 16px;
}

.user-icon{
  width: 100%;
  height: 100%;
}

.cumulative-chart{
  height: 100%;
  &__rader{
    padding: 2%;
  }
}

#cumulative-radar{
  height: 100%;
  width: 100%;
}



// ***** yardstick ***** //

.yardstick-form{
  width: 100%;
  padding: 10px;
}

.top-field{
  border-top: $default-border;
}

.yardstick-field{
  padding: 30px 10px;
  border-bottom: $default-border;
  &__label{
    display: block;
    text-align: center;
    border-bottom: 1px dashed lightgray;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    letter-spacing: 1px;
  }
  &__textarea{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    &__area{
      -webkit-appearance: none;
      resize: none;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      box-shadow: none;
      border: 1px solid lightgray;
    }
  }
}

.yardstick-submit{
  padding: 30px 10px;
  width: 100%;
  text-align: center;
  &__button{
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    background-color: steelblue;
    color: whitesmoke;
    -webkit-appearance: none;
    cursor: pointer;
  }
  &__button:hover{
    background-color: whitesmoke;
    border: 1px solid steelblue;
    color: steelblue;
  }
}

// ***** profile ***** //

.mypage-menu{
  padding: 10px;
  &__content{
    padding: 10px 0;
    &__head{
      font-size: 20px;
      font-weight: bold;
      border-bottom: $default-border;
      margin-bottom: 20px;
    }
    &__link{
      display: block;
      padding-bottom: 10px;
      font-size: 14px;
    }
  }
}