@import 'config';

// *** ヘッダー *** //

.header{
  height: 60px;
  width: 100%;
  background-color: $ruby-crimson;
  border-bottom: $default-border;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  &__box{
    height: 100%;
    margin: 0 auto;
    &__left{
      width: 80%;
      float: left;
    }
    &__right{
      width: 20%;
      float: right;
    }
  }
}

.header-logo{
  line-height: 60px;
  font-size: 26px;
  letter-spacing: 1px;
  color: whitesmoke;
  padding-left: 10%;
}

.header-menu{
  line-height: 60px;
  font-size: 30px;
  text-align: right;
  color: whitesmoke;
  padding-right: 40%;
  &__close{
    display: none;
    cursor: pointer;
  }
}

.header-menu:hover{
  color: steelblue;
}

.header-lists{
  display: none;
}

// *** フッター *** //

.footer{
  width: 100%;
  height: 60px;
  background-color: $ruby-crimson;
  border-top: $default-border;
  &__box{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    border-left: $default-border;
    border-right: $default-border;
  }
}

.footer-content{
  width: 25%;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
  &__icon{
    line-height: 60px;
  }
}

.footer-content:hover{
  background-color: whitesmoke;
  color: steelblue;
}


// ***** データ引き渡し用隠しフォーム ***** //

.hidden-data{
  display: none;
}


// ***** singleタイプのレイアウト枠組み ***** //

.single-contents{
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  &__head{
    width: 280px;
    padding: 5px 0;
    margin: 0 auto;
    box-shadow: $default-shadow;
    background-color: #333;
    &__text{
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: whitesmoke;
    }
  }
  &__main{
    margin-top: 20px;
    box-shadow: $default-shadow;
    min-height: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    &__box{
      text-align: center;
      width: 100%;
      &--button{
        display: inline-block;
        padding: 10px 35px;
        text-align: center;
        background-color: steelblue;
        color: whitesmoke;
        border: 1px solid steelblue;
      }
      &--button:hover{
        background-color: whitesmoke;
        border: 1px solid steelblue;
        color: steelblue;
      }
    }
  }
}