@import 'config';

// *** ヘッダー *** //

.header{
  height: 60px;
  width: 100%;
  background-color: whitesmoke;
  border-bottom: $default-border;
  z-index: 10;
  &__box{
    height: 100%;
    margin: 0 auto;
    &__left{
      width: 80%;
      float: left;
    }
    &__right{
      width: 20%;
      float: right;
    }
  }
}

.header-logo{
  line-height: 60px;
  font-size: 26px;
  letter-spacing: 1px;
  color: $ruby-crimson;
  padding-left: 10%;
}

.header-menu{
  line-height: 60px;
  font-size: 30px;
  text-align: right;
  color: $ruby-crimson;
  padding-right: 40%;
  &__close{
    display: none;
    cursor: pointer;
  }
}

.header-menu:hover{
  color: steelblue;
}

.header-lists{
  display: none;
}

// *** フッター *** //

.footer{
  width: 100%;
  height: 60px;
  background-color: whitesmoke;
  border-top: $default-border;
  &__box{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    border-left: $default-border;
    border-right: $default-border;
  }
}

.footer-content{
  width: 25%;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  color: $ruby-crimson;
  &__icon{
    line-height: 60px;
  }
}

.footer-content:hover{
  background-color: $ruby-crimson;
  color: steelblue;
}


// ***** データ引き渡し用隠しフォーム ***** //

.hidden-data{
  display: none;
}