= render 'shared/hidden'
  
.container
  .wrapper
    .top-contents
      .top-content
        %h1 マイページ
        .cumulative-chart
          %canvas#cumulative-radar.cumulative-chart__rader{style: 'height:100%; width: 100%;'}
        .month-calendar
          = month_calendar do |date|
            = date.day