= render 'shared/hidden'
  
.container
  .wrapper
    .mypage-contents
      .mypage-contents__head
        %h2.mypage-contents__head__text マイページ
      
      .mypage-contents__main.clearfix
        .mypage-contents__main__left
          .mypage-left

            .mypage-left__content.clearfix
              .mypage-left__content--left
                .cumulative-chart
                  %canvas#cumulative-radar.cumulative-chart__rader{style: 'height:100%; width: 100%;'}
              .mypage-left__content--right
                .mypage-interface
                  .mypage-interface__box
                    = link_to 'データ更新', statuses_path, class: "mypage-interface__box__recalc"
                .mypage-calendar
                  .mypage-calendar__box

            .mypage-sheet
              .mypage-sheet__box
                %table.cumulative-sheet
                  %thead.cumulative-sheet__head
                    %tr.cumulative-sheet__head__row
                      %th.cumulative-sheet__head__row--content 合計
                      %th.cumulative-sheet__head__row--content 睡眠
                      %th.cumulative-sheet__head__row--content 運動
                      %th.cumulative-sheet__head__row--content 勉強
                  %tbody.cumulative-sheet__body
                    %tr.cumulative-sheet__body__row
                      %td.cumulative-sheet__body__row--content=Status.total_point(@status)
                      %td.cumulative-sheet__body__row--content=@status.sleep
                      %td.cumulative-sheet__body__row--content=@status.exercise
                      %td.cumulative-sheet__body__row--content=@status.study
                  %thead.cumulative-sheet__head
                    %tr.cumulative-sheet__head__row
                      %th.cumulative-sheet__head__row--content 食事
                      %th.cumulative-sheet__head__row--content 嗜好品
                      %th.cumulative-sheet__head__row--content 目標達成
                      %th.cumulative-sheet__head__row--content ログイン
                  %tbody.cumulative-sheet__body
                    %tr.cumulative-sheet__body__row
                      %td.cumulative-sheet__body__row--content=@status.diet
                      %td.cumulative-sheet__body__row--content=@status.habit
                      %td.cumulative-sheet__body__row--content=@status.aim
                      %td.cumulative-sheet__body__row--content=@status.login

        .mypage-contents__main__right
          = render 'shared/right_bar'


-# 以下、後ほどjs実装後に使う素材
        -# .mypage-contents__main__calendar
          -# .month-calendar
          -# = month_calendar do |date|
          -#   = date.day

